<app-sidebar></app-sidebar>

<mat-card style="margin: 16px;">
  <mat-card-title>Lista de Medicamentos</mat-card-title>
  <mat-card-content>
<table mat-table [dataSource]="datos">

  <ng-container matColumnDef="posicion">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let elemento"> {{elemento.posicion}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
    <td mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="peso">
    <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
    <td mat-cell *matCellDef="let elemento"> {{elemento.peso}} </td>
  </ng-container>

  <ng-container matColumnDef="simbolo">
    <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
    <td mat-cell *matCellDef="let elemento"> {{elemento.simbolo}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasMostrar"></tr>
  <tr mat-row *matRowDef="let fila; columns: columnasMostrar;"></tr>
</table>
<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ej. Nombre">
</mat-form-field>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card-content>
</mat-card>