
 .contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 1rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }