<div class="sidebar-wrapper">
  <div class="logo-container">
    <img ngSrc="/logo.png" alt="Logo" height="200" width="646">
  </div>
  <mat-drawer-container class="sidebar-container">
    <mat-drawer mode="side" opened class="sidebar">
      <nav class="menu">
        <a mat-button class="menu-item">Usuario</a>
        <div class="separator"></div>
        <a mat-button class="menu-item" routerLink="/dashboard">Estadísticas</a>
        <a mat-button class="menu-item" routerLink="/medicamento">Medicamentos</a>
        <a mat-button class="menu-item" routerLink="/login">Cerrar Sesión</a>
      </nav>
    </mat-drawer>
  </mat-drawer-container>
</div>
