@use '@angular/material' as mat;
@use 'theme-colors.scss' as my-theme; // location of generated file

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      //secondary: my-theme.$secondary-palette,
      tertiary: my-theme.$tertiary-palette,
      //neutral: my-theme.$neutral-palette,
      //neutral-variant: my-theme.$neutral-variant-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-delete-button {
  background-color: var(--mat-sys-error) !important; /* Usa un color rojo del sistema */
  color: var(--mat-sys-background) !important; /* Icono blanco */
}

.custom-edit-button {
  background-color: var(--mat-sys-primary) !important; /* Usa un color rojo del sistema */
  color: var(--mat-sys-background) !important; /* Icono blanco */
}