<div class="grid-container">
  <div class="content">
    <div class="logo-container">
      <img ngSrc="/logo.png" alt="Medicamento a Tiempo" class="logo" height="200" width="646" priority>
    </div>
    <h1 class="display-large">Nuevo Usuario</h1>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label class="input-label">Correo</mat-label>
      <input matInput type="email" value="example@email.com">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label class="input-label">Usuario</mat-label>
      <input matInput type="text" value="usuario">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label class="input-label">Contraseña</mat-label>
      <input matInput type="password" value="**********">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button class="register-button" routerLink="/">Registrarse</button>
      <button mat-raised-button class="cancel-button" routerLink="/">Cancelar</button>
    </div>
  </div>
</div>
